#commentsTable thead th:nth-child(1),th:nth-child(5),th:nth-child(4) {
    width: 80px;
}

#commentsTable thead th:nth-child(2) {
    width: 150px;
}

#commentManagerContent {
    text-align: left !important;
}

#commentManagerContent h1 {
    text-align: center;
    margin-bottom: 20px;
}

tr td:last-child {
    text-align: center;
}

tr th:last-child {
    text-align: center;
}

td:nth-child(4) {
    text-align: center;
}
